*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family:cursive */
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #212121;
    color:white;
}
.col1{
    padding-left: 1rem;
    font-size: 24px;
}
#hamburger{
    display: none;
    color: #FBF5E5;
}
.menu{
    list-style: none;
    display: flex;
     justify-content: space-between;
    align-items: center;
    gap: 2rem;  
}
.menu li a{
    color: white;
    text-decoration: none; 
    font-size: 22px;
}
.menu li a:hover{
    color: #A35C7A;
}
.col3{
    display: flex;
    padding-left: 1rem;
    gap: 1rem;
}

.login-btn {
    padding: 10px 20px;
    background-color:#FBF5E5;
    border-radius: 10px;
    color: #212121;
    text-decoration: none;
    font-size: 20px;  
}
.login-btn:hover{
    background-color: transparent;
    color: #FBF5E5;
    border: 1px solid #FBF5E5;
}
.signup-btn{
    padding: 10px 20px;
    color: #FBF5E5;
    text-decoration: none;
    font-size: 20px;
    border: 1px solid #FBF5E5;
    border-radius: 10px;
}
.signup-btn:hover{
    background-color: #FBF5E5;
    color: #212121;
    padding: 10px 20px;
    
}
/* main */
/* home section */
/* .home{
    width: 100vw;
    height: 80vh;
    background-color: #FBF5E5;
} */
/* hero section */
.hero{
    width: 100vw;
    height: 90vh;
    background-color: #dfe6e7;
    display: grid;
    align-content: center;
    
}
.container{
    display: flex;
    user-select: none;
    margin: 1rem 3rem;
    gap: 2rem;
    text-align: center;
    
}
.card1{
   display: flex;
   flex-direction: column; 
   flex: 1;
    padding: 3rem;
    background-color:#A35C7A;
    width: 100%;
    height: 500px;
    border-radius: 10px;
    border-left: 15px solid #212121;
    box-shadow: 15px 10px 10px #A35C7A;
}
.title{
    color: white;
    font-style: italic;
    margin-bottom: 1rem;
} 
.card1 p{
    font-size: 18px;
    color: #dfe6e7;
    margin-bottom: 3rem;
}
.inputform{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.inputform input{
    padding: 10px 20px;
    outline: none;
    border-radius: 10px;
    font-size: 1rem;
    border: none;
    width: 80%;
    background-color: white;
}

.inputform input:focus{
    border: none;
}
.foodinput-btn{
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 10px;
    background: #212121;
    color: #dfe6e7;
    font-size: 18px;
    cursor: pointer;
}
.foodinput-btn:hover{
    background-color:#333;
}
.card2{
 flex: 1;
 padding: 3rem;
    background-color:#b98ba2d0;
    width: 100%;
    height: 500px;
    border-radius: 10px;
    border-left: 15px solid #212121;
     box-shadow: -6px 10px 10px #b98ba2d0;
}
.items-title{
    color: black;
    font-style: italic;
    margin-bottom: 1rem;
}
.item-list{
    list-style: none;
    padding: 1rem;
    font-size: 20px;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    gap: 15px;
    
}
.item-list li{
    border-left: 10px solid #333;
    border-radius: 5px;
    background: white;
    padding: 10px;
    color: #333;
    display: flex;
    
}

.alert{
    border-left: 25px solid green;
    background-color: darkseagreen;
    margin: 1rem 3rem;
    padding: 1rem;
    /* text-align: center; */
    font-size: 24px;
    height: 61px;
    width: 400px;

    
}
/* responsive design */
/* small screens */
@media(min-width:320px)and (max-width:767px){
    .hero{
        height: 100vh;
    }
    .container{
        flex-direction: column;
    }
    .inputform{
        flex-direction: column;
    }
    .foodinput-btn{
        width: auto;
    }
    .card2{
            box-shadow: 16px 10px 10px #b98ba2d0;
            padding: 1rem;
    }
    .card1{
        height: auto;
        padding: 1rem;
    }
    .card1 p{
        margin-bottom: 1rem;
    }
    
    .col3{
        display: none;
    }
    .col2{
        display: none
    }
    .alert{
       margin: 70px 14px 0px 17px;
        font-size: 20px;
        width: 320px;
    }
    .container{
        margin:  2rem 1rem;
    }

}
